.mainItems{
    margin-top: 25px;
    width: 100%;
}
.mainItemsDown {
    margin: 0 auto;
    width: max(800px, 75%);
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.leftNav {
    width: 15%;
    padding-top: 25px;
}
.mainSearch{
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Kanit", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    text-wrap: wrap;
    word-wrap:break-word;
}
.mainSearch a{
    color: rgb(143, 143, 143);
    text-decoration: none;
}
.leftNav ul{
    list-style: none;
    padding: 0;
}
.leftNav ul li a{
    font-family: "Kanit", sans-serif;
    color: black;
    text-decoration: none;
}
.leftNav ul li a:hover{
    text-decoration: underline;
}
.selected{
    color: #4e0592 !important;
}
.selected:hover{
    text-decoration: none !important;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.itemsLength {
    color: rgb(143, 143, 143);
}

@media only screen and (max-width: 800px) {
    .mainItemsDown {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    .leftNav{
        width: 100%;
        text-align: center;
        text-wrap: wrap;
    }
  }